<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yefrigaitan.phocus">
    
    <uses-permission android:name="SYSTEM_ALERT_WINDOW"></uses-permission>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="Main" android:name=".MainActivity" android:taskAffinity="com.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="Success" android:name=".SuccessActivity" android:taskAffinity="com.example.SuccessActivity" >
            <intent-filter>
                <action android:name=".Success"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".SuccessActivity"></activity>
        <activity android:name=".PhocusMain"></activity>
        <activity android:name=".ShameActivity"></activity>
    </application>

</manifest>